.c-primary__btn{
	background-color: $keyColor;
	border: 2px solid $keyColor;
	border-radius: 5px;
	color: $keyFontColor;
	display: block;
	font-size: 1.6rem;	
	padding: 0.5rem 2rem;
	position: relative;
	text-align: center;
	width: 100%;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background: $keyFontColor;
		transform-origin: right top;
		transform: scale(0, 1);
		transition: transform .3s;
	}
	@include mq-up {		
		&:hover{
			color: $keyColor;
			&:before {
				transform-origin: left top;
				transform: scale(1, 1);
			}
		}
	}
}
