/* ------------------------------
- header _layout
------------------------------ */
@include mq-up(md) {
  .l-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
}
@include mq-down(md) {
  .l-header{
		position: relative;
	}
}