/* ==============================
	page-withdrawal
===============================*/
.page-withdrawal{
	.page-withdrawal__lead{
		margin-top: 2rem;
		font-size: 1.4rem;
		text-align: center;
	}
	.c-form__btn{
		max-width: 160px;
		margin: 2rem auto 0;
	}
}